openapi: 3.1.0
info:
  title: Flightradar24 Airlines Usage API
  description: Flightradar24 is the world's most popular real-time flight tracking platform, monitoring over 250,000 daily flights using data from a global network of ADS-B, MLAT, and radar receivers. The FR24 API provides developers with programmatic access to live aircraft positions, historical flight data, flight summaries, and reference data for airports and airlines. The credit-based subscription API uses Bearer token authentication and is available at https://fr24api.flightradar24.com/api with three tiers — Explorer, Essential, and Advanced — covering hobby projects through high-volume commercial applications.
  version: 1.0.0
  contact:
    url: https://support.fr24.com/support/solutions/folders/3000022922
  license:
    name: Proprietary
    url: https://fr24api.flightradar24.com/docs/getting-started
servers:
- url: https://fr24api.flightradar24.com/api
  description: Flightradar24 API
security:
- bearerAuth: []
tags:
- name: Usage
  description: API account usage and credit consumption
paths:
  /usage:
    get:
      operationId: getUsage
      summary: Get API usage
      description: Returns a summary of API account usage and credit consumption broken down by endpoint for the specified time period.
      tags:
      - Usage
      parameters:
      - name: period
        in: query
        required: false
        description: Time period for the usage summary.
        schema:
          type: string
          enum:
          - 24h
          - 7d
          - 30d
          - 1y
          default: 24h
        example: 24h
      responses:
        '200':
          description: Successful response with API usage data
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/UsageLogSummaryResponse'
              example:
                data:
                - endpoint: /api/live/flight-positions/light
                  request_count: 142
                  credits: 284
                - endpoint: /api/flight-summary/full
                  request_count: 38
                  credits: 380
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/TooManyRequests'
components:
  schemas:
    Error:
      type: object
      properties:
        message:
          type: string
          description: Human-readable error description.
        code:
          type: string
          description: Machine-readable error code.
    UsageLogSummary:
      type: object
      description: API usage summary for a single endpoint.
      required:
      - endpoint
      - request_count
      - credits
      properties:
        endpoint:
          type: string
          description: API endpoint path.
          example: /api/live/flight-positions/light
        request_count:
          type: integer
          description: Number of requests made to this endpoint in the period.
          example: 142
        credits:
          type: integer
          description: Number of credits consumed by requests to this endpoint.
          example: 284
    UsageLogSummaryResponse:
      type: object
      properties:
        data:
          type: array
          items:
            $ref: '#/components/schemas/UsageLogSummary'
  responses:
    Unauthorized:
      description: Unauthorized — missing or invalid Bearer token.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
    TooManyRequests:
      description: Too many requests — rate limit or credit limit exceeded.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Error'
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: Bearer token authentication. Obtain your API token from the Flightradar24 developer portal at https://fr24api.flightradar24.com/.
